.interns_table {
    width: 30%;
    border-spacing: 0;
}

.interns_header{
    background-color:skyblue;
    text-align: left;
}

.interns_data:nth-child(even) {
    background-color: #e5e5e5;
}

.interns_cell {
    padding: 8px;
}