table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 2px 8px; /* Top/Bottom: 2px , Left/Right: 8px*/
    border-bottom: 1px solid grey;
}
th {
    color: black;
    background-color: #f6f7f8;
}
td {
    background-color: rgba(255, 255, 255, 0.7);
    color: #4b494a;
}
.home-three-elem-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    background-color: #f9f9fb;
}
.dropdowns-containter{
    position: relative;
    overflow: hidden;
    width: 60%;
}
.dropdowns-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: max-content;
    height: fit-content;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 8px;
    background-image: transparent;
    backdrop-filter: blur(8px); /* Adjust the blur radius as needed */
    /* Additional styling for the box */
    color: white;
}
.scorecards-data {
    width: 60%;
    margin: 0px 10px 0px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}
/* .middle-content-container{
    
} */