@media (min-width: 768px) {
  table{
    width: 100%;
    background-color: #ffffff;
  }
  th, td {
    padding: 2px 8px; /* Top/Bottom: 2px , Left/Right: 8px*/
    border-bottom: 1px solid grey;
  }
  th {
    color: #6c6d6f;
    background-color: #f6f7f8;
  }
  td {
    background-color: #ffffff;
    color: #4b494a;
  }
  .dropdowns-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: -moz-max-content;
    height: fit-content;
    padding: 16px;
    border: 1px solid #edeef0;
    color: black;
    border-radius: 8px;
    background-color: #ffffff;
  }
}