<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home &bull; T20Sense</title>
  <link rel="stylesheet" href="/static/styles_index.css">
  <link rel="icon" type="image/png" href="/static/favicon-t20-sense.png">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LWDCC125HK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LWDCC125HK');
  </script>

  <script type="text/javascript" src="/static/script.js"></script>
  
  <!-- HTMX Import -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>

  <!-- Bootstrap Import -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navbar -->
  {% include "layout/navbar.html" %}

  <div class="container-fluid mt-2">
    <div class="container-fluid">
      <!-- All matches links in the series div -->
      <div class="container-fluid">
        <p class="mb-1">Latest Matches ({{latest_data.matches | length}})</p>
        <div class="row" id="matchesInSeriesLinks">
          {% for match in latest_data.matches %}
          <div class="col-lg-3 col-md-4 col-12 mb-2">
            <div class="card bg-light">
              <a class="link-body-emphasis link-underline link-underline-opacity-0 link-underline-opacity-0-hover" href="/series/{{ match.series.objectId }}/{{ match.objectId }}/full-scorecard">
              <div class="card-body">
                    <p class="mb-1" style="font-size: smaller;">{{ match.series.alternateName }} &bull; {{ match.title }} &bull; {{ match.ground.smallName }}</p>
                    <div class="my-1">
                      {% if match.teams[0].team.imageUrl is not none %}
                      <img class="me-2 rounded d-inline-block" style="height: 40px; width: 40px;" src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_80/lsci{{ match.teams[0].team.imageUrl }}" alt="{{ match.teams[0].team.image.caption }}">
                      {% endif %}
                      <p class="mx-2 d-inline-block" style="font-size: smaller;">{{ match.teams[0].team.abbreviation }}</p>
                      <p class="ms-2 fw-bold d-inline-block" style="font-size: smaller;">
                        {% if match.teams[0].score is not none %}{{ match.teams[0].score }}{% else %}-{% endif %}
                      </p>
                    </div>
                    <div class="my-1">
                      {% if match.teams[1].team.imageUrl is not none %}
                      <img class="me-2 rounded d-inline-block" style="height: 40px; width: 40px;" src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_80/lsci{{ match.teams[1].team.imageUrl }}" alt="{{ match.teams[1].team.image.caption }}">
                      {% endif %}
                      <p class="mx-2 d-inline-block" style="font-size: smaller;">{{ match.teams[1].team.abbreviation }}</p>
                      <p class="ms-2 fw-bold d-inline-block" style="font-size: smaller;">
                        {% if match.teams[1].score is not none %} {{ match.teams[1].score }}{% else %}-{% endif %}
                      </p>
                    </div>
                    <p class="mb-0 text-nowrap overflow-hidden mb-0" style="font-size: smaller">{{ match.statusText }}</p>
                    <hr class="mt-1 mb-0">
                    <a class="my-0 link-body-emphasis link-underline-dark link-underline-opacity-0 link-underline-opacity-100-hover" style="font-size: smaller;" href="/series/{{match.series.objectId}}">Schedule</a>
                  </div>
                </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  {% include "layout/footer.html" %}
</body>
</html>