<!DOCTYPE html>
    <html>
    <head>
        <title>T20 Sense</title>
        <link rel="stylesheet" href="/static/styles_index.css">
        <script type="text/javascript" src="static/script.js"></script>
        
        <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "pub-9810927784183464",
            enable_page_level_ads: true
            });
        </script> -->
    </head>
    <body>
        <div class="home-three-elem-container">
            <div class="dropdowns-container">
                <div class="dropdowns-content">
                    <form method="post" action="/process">
                        <label for="year" style="color: White">Year :</label>
                        <select id="year" name="year" onclick="updateMatchOptions()">
                            {% for id in years %}
                            <option value="{{ id }}">{{ id }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <label for="match_id" style="color: White">Match Name :</label>
                        <select id="match_id" name="match_id">
                            {% for id in match_ids %}
                            <option value="{{ id }}">{{ id }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div style="width: 100%;">
                    <!-- Ads Frames -->
                    <div>
                        <div style="padding: 8px; width: 100%; height: 125px; 
                            background-color: white; border-radius: 10px; margin-top: 10px; margin-bottom: 5px; ">
                            <p style="font-size: small;">Advertisement is going to displayed here</p>
                        </div>
                        <div style="padding: 8px; width: 100%; height: 125px; 
                            background-color: white; border-radius: 10px; margin-bottom: 5px; ">
                            <p style="font-size: small;">Advertisement is going to displayed here</p>
                        </div>
                        <div style="padding: 8px; width: 100%; height: 125px; 
                            background-color: white; border-radius: 10px; margin-bottom: 5px; ">
                            <p style="font-size: small;">Advertisement is going to displayed here</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if not batting1 and finals_and_champs_df %}
                <div>
                    <div style="padding: 8px; backdrop-filter: blur(8px); border-radius: 16px; border: 2px solid black;">
                        <p style="text-align: center;margin-bottom: 5px;"><span class="highlight">Finals & Champions</span></p>
                        <table style="width: 100%; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th style="color: white; background-color: indigo;">Year</th>
                                    <th style="color: white; background-color: green;">Final</th>
                                    <th style="color: white; background-color: goldenrod;">Champion</th>
                                    <th style="color: white; background-color: brown;">Runner Up</th>
                                    <th style="color: white; background-color: orangered;">Orange Cap</th>
                                    <th style="color: white; background-color: purple;">Purple Cap</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in finals_and_champs_df %}
                                    <tr>
                                        <td>{{data.Year}}</td>
                                        <td>{{data.Final}}</td>
                                        <td>{{data['Champions']}}</td>
                                        <td>{{data['Runner up']}}</td>
                                        <td>{{data['Orange Cap']}}</td>
                                        <td>{{data['Purple Cap']}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            
            <!-- 2nd Frame -->
            {% if batting1 and batting2 and bowling1 and bowling2 %}
            <div class="scorecards-data">
                <!-- Data displayed in center -->
                <div class="middle-content-container">
                    <div style="display: flex; background-color: darkblue; color: white; justify-content: space-around; padding: 0 4px 0 4px;
                                border: 2px solid darkblue; border-radius: 10px;">
                        <h3>{{match_title}}</h3>
                        <h3>{{match_date}} | {{ground_info}}</h3>
                    </div>
                    <h3>{{toss_info}}</h3>
                    <h3>Result - {{result}}</h3>
                    
                    <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
                        <h3 style="color: white; margin-block-end: 0;"><span class="highlight">{{team1_name}} - Batting</span></h3>
                        <h3 style="margin-block-end: 0;"><span class="highlight">Total - {{team1_score}} / {{innings1_overs}}</span></h3>
                        <h3 style="margin-block-end: 0;"><span class="highlight">Target - {{target}}</span></h3>
                    </div>
                    <table style="border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th>Batsman</th> <th>Runs</th> <th>Balls</th> <th>Dots</th> <th>Fours</th> <th>Sixes</th> <th>SR</th> <th>NDSR</th> <th>DB%</th> <th>4s_SR</th> <th>6s_SR</th> <th>4&6_SR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in batting1 %}
                            <tr>
                                <td>{{ record['Batsman'] }}</td> <td>{{ record['Runs'] }}</td> <td>{{ record['Balls'] }}</td> <td>{{ record['Dots'] }}</td> <td>{{ record['Fours'] }}</td> <td>{{ record['Sixes'] }}</td> <td>{{ record['SR'] }}</td> <td>{{ record['NDSR'] }}</td> <td>{{ record['DB%'] }}</td> <td>{{ record['4s_SR'] }}</td> <td>{{ record['6s_SR'] }}</td> <td>{{ record['4&6_SR'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h3 style="color: white; margin-bottom: 5px;"><span class="highlight">{{team2_name}} - Bowling</span></h3>
                    <table style="border-collapse: collapse;">
                        <tr>
                            <th>Bowler</th> <th>Overs</th> <th>Balls</th> <th>Runs</th> <th>Wickets</th> <th>Dots</th> <th>Fours</th> <th>Sixers</th> <th>WD</th> <th>NB</th> <th>Byes</th> <th>LB</th> <th>Econ</th> <th>DB%</th> 
                        </tr>
                        {% for bowler in bowling1 %}
                        <tr>
                            <td>{{ bowler.Bowler }}</td><td>{{ bowler.Overs }}</td><td>{{ bowler.Balls }}</td><td>{{ bowler.Runs }}</td><td>{{ bowler.Wickets }}</td><td>{{ bowler.Dots }}</td><td>{{ bowler.Fours }}</td><td>{{ bowler.Sixers }}</td><td>{{ bowler.WD }}</td><td>{{ bowler.NB }}</td><td>{{ bowler.Byes }}</td><td>{{ bowler.LB }}</td><td>{{ bowler.Econ }}</td><td>{{ bowler["DB%"] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
                        <h3 style="color: white; margin-block-end: 0;"><span class="highlight">{{team2_name}} - Batting</span></h3>
                        <h3 style="margin-block-end: 0;"><span class="highlight">Total - {{team2_score}} / {{innings2_overs}}</span></h3>
                    </div>
                    <table style="border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th>Batsman</th> <th>Runs</th> <th>Balls</th> <th>Dots</th> <th>Fours</th> <th>Sixes</th> <th>SR</th> <th>NDSR</th> <th>DB%</th> <th>4s_SR</th> <th>6s_SR</th> <th>4&6_SR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in batting2 %}
                            <tr>
                                <td>{{ record['Batsman'] }}</td> <td>{{ record['Runs'] }}</td> <td>{{ record['Balls'] }}</td> <td>{{ record['Dots'] }}</td> <td>{{ record['Fours'] }}</td> <td>{{ record['Sixes'] }}</td> <td>{{ record['SR'] }}</td> <td>{{ record['NDSR'] }}</td> <td>{{ record['DB%'] }}</td> <td>{{ record['4s_SR'] }}</td> <td>{{ record['6s_SR'] }}</td> <td>{{ record['4&6_SR'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h3 style="color: white;margin-bottom: 5px;"><span class="highlight">{{team1_name}} - Bowling</span></h3>
                    <table style="border-collapse: collapse;">
                        <tr>
                            <th>Bowler</th> <th>Overs</th> <th>Balls</th> <th>Runs</th> <th>Wickets</th> <th>Dots</th> <th>Fours</th> <th>Sixers</th> <th>WD</th> <th>NB</th> <th>Byes</th> <th>LB</th> <th>Econ</th> <th>DB%</th>
                        </tr>
                        {% for bowler in bowling2 %}
                        <tr>
                            <td>{{ bowler.Bowler }}</td> <td>{{ bowler.Overs }}</td> <td>{{ bowler.Balls }}</td> <td>{{ bowler.Runs }}</td> <td>{{ bowler.Wickets }}</td> <td>{{ bowler.Dots }}</td> <td>{{ bowler.Fours }}</td> <td>{{ bowler.Sixers }}</td> <td>{{ bowler.WD }}</td> <td>{{ bowler.NB }}</td> <td>{{ bowler.Byes }}</td> <td>{{ bowler.LB }}</td> <td>{{ bowler.Econ }}</td> <td>{{ bowler["DB%"] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
            <div>
                <div style="padding: 8px; width: 175px; height: 125px; 
                            background-color: white; border-radius: 10px; margin-bottom: 5px; ">
                    <p style="font-size: small;">Advertisement is going to displayed here</p>
                </div>
                <div style="padding: 8px; width: 175px; height: 125px; 
                            background-color: white; border-radius: 10px; margin-bottom: 5px; ">
                    <p style="font-size: small;">Advertisement is going to displayed here</p>
                </div>
                <div style="padding: 8px; width: 175px; height: 125px; 
                            background-color: white; border-radius: 10px; margin-bottom: 5px; ">
                    <p style="font-size: small;">Advertisement is going to displayed here</p>
                </div>
                <div style="padding: 8px; width: 175px; height: 125px; 
                            background-color: white; border-radius: 10px; margin-bottom: 5px; ">
                    <p style="font-size: small;">Advertisement is going to displayed here</p>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->