<!DOCTYPE html>
<html>

  <head>
    <title>T20 Sense</title>
    <link rel="stylesheet" href="/static/styles_index.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LWDCC125HK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LWDCC125HK');
    </script>
    <script type="text/javascript" src="static/script.js"></script>

    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background-color: #f9f9fb;">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #ffdea6;"> <!-- Yellow : ffdea6 -->
      <!-- Just an image -->
      <a class="navbar-brand" href="/">
      <img src="/static/t20-sense-logo.svg" width="112.8px" height="30px" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">IPL <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">T20 WC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ODI WC</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">MLC</a>
          </li>
        </ul>
        
        <!-- Search Bar -->
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search any match" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0 rounded-pill" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
        
    <div class="home-three-elem-container">
      <div class="first-frame-container">
        <div class="dropdowns-content">
          <form method="post" action="/redirect_to_scorecard">
            <div class="form-group">
              <label for="year">Year </label>
              <br>
              <select class="custom-select" style="width: 100%;" aria-label="Default select example" id="series_id" name="series_id" hx-trigger="change, load" hx-get="/return_matches_names" hx-target="#match_id">
                <!-- <option selected disabled>Select an year</option> -->
                {% for year_id, year in years.items() %}
                  <option value="{{ year_id }}" {% if selected_year and selected_year == year_id %}selected{% endif %}>{{ year }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="match_name">Match Name </label>
                <br>
                <select class="custom-select" style="width: 100%;" id="match_id" name="match_id">
              </select>
            </div>
            <input type="submit" class="btn btn-outline-dark btn-sm btn-block" value="Go to the match">
          </form>
        </div>
        <!-- Ads Frames -->
        <div style="width: 100%;">
          <div>
            <div style="padding: 8px; width: 100%; height: 125px; border: 1px solid #edeef0;
              background-color: #ffffff; border-radius: 10px; margin-top: 10px; margin-bottom: 5px; ">
              <p style="font-size: small;">Advertisement is going to displayed here</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 2nd Frame --> <!-- Data displayed in center -->
      <div class="scorecards-data">
        <!-- Finals and Champions Table Division -->
        {% if not batting1 and finals_and_champs_df %}
        <div class="border rounded" style="background-color: #ffffff;">
          <p class="font-weight-bold p-1 border rounded-top" style="margin-bottom: 0;
            background-color: #bbe6f0;
            border-radius: 5px 5px 0px 0px;">
            Finals & Champions
          </p>
          <table style="width: 100%; border-collapse: collapse;">
            <thead>
              <tr>
                <th>Year</th>
                <th>Final</th>
                <th>Champion</th>
                <th>Runner Up</th>
                <th>Orange Cap</th>
                <th>Purple Cap</th>
              </tr>
            </thead>
            <tbody>
              {% for data in finals_and_champs_df %}
                <tr>
                  <td>{{data.Year}}</td>
                  <td>{{data.Final}}</td>
                  <td class="font-weight-bold">{{data['Champions']}}</td>
                  <td>{{data['Runner up']}}</td>
                  <td>{{data['Orange Cap']}}</td>
                  <td>{{data['Purple Cap']}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
        </div>
        {% endif %}

        {% if batting1 and bowling1 %}
        <div class="border rounded" style="padding: 8px; background-color: #ffffff;">
          <p class="font-weight-bold" style="margin-block-end: 0;">{{match_title}}, {{match_date}}, {{ground_info}}</p>
          <p style="margin-block-end: 0;">{{toss_info}}</p>
          <p style="margin-block-end: 0;">Man of the Match - {{man_of_the_match}}</p>  <!-- Man of the match -->
          <p style="margin-block-end: 0;">Result - {{result}}</p>
        </div>

        <div class="border rounded mt-2" style="padding: 8px; background-color: #ffffff;">
          <p class="font-weight-bold" style="margin-block-end: 0;">Best Performers in Batsman</p>
          <p style="margin-block-end: 0;">{{best_performance_batsmen_inn1}}</p>
          <p style="margin-block-end: 0;">{{best_performance_batsmen_inn2}}</p>
        </div>
        
        <!-- 1st Innings -->
        <div class="border rounded mt-2 mb-2" style="background-color: #ffffff;">
          <div style="background-color: #e3f2fd; margin: 0;">
            <p class="font-weight-bold p-1" style="margin-block: 0;">{{team1_name}}</p>
          </div>
          <table style="border-collapse: collapse;">
            <thead>
              <tr>
                <th>Batsman</th>
                <th>R</th>
                <th>B</th>
                <th>Dots</th>
                <th>4s</th>
                <th>6s</th>
                <th>SR</th>
                <th>NDSR</th>
                <th>DB%</th>
                <th>4s SR</th>
                <th>6s SR</th>
                <th>4&6 SR</th>
              </tr>
            </thead>
            <tbody>
              {% for record in batting1 %}
              <tr>
                <td class="text-dark">{{ record['Batsman'] }}</td>
                <td class="font-weight-bold">{{ record['Runs'] }}</td>
                <td>{{ record['Balls'] }}</td>
                <td>{{ record['Dots'] }}</td>
                <td>{{ record['Fours'] }}</td>
                <td>{{ record['Sixes'] }}</td>
                <td>{{ record['SR'] }}</td>
                <td>{{ record['NDSR'] }}</td>
                <td>{{ record['DB%'] }}</td>
                <td>{{ record['4s_SR'] }}</td>
                <td>{{ record['6s_SR'] }}</td>
                <td>{{ record['4&6_SR'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="border-top" style="display: flex; justify-content: space-around;">
            <p style="margin-block: 0;">Total - {{team1_score}} ({{innings1_overs}})</p>
            <p style="margin-block: 0;">Target - {{target}}</p>
          </div>
          <table style="border-collapse: collapse;">
            <tr>
              <th>Bowler</th>
              <th>Ov</th>
              <th>B</th>
              <th>R</th>
              <th>W</th>
              <th>Dots</th>
              <th>4s</th>
              <th>6s</th>
              <th>WD</th>
              <th>NB</th>
              <th>B</th>
              <th>LB</th>
              <th>Econ</th>
              <th>DB%</th> 
            </tr>
            {% for bowler in bowling1 %}
            <tr>
              <td>{{ bowler.Bowler }}</td><td>{{ bowler.Overs }}</td><td>{{ bowler.Balls }}</td><td>{{ bowler.Runs }}</td><td>{{ bowler.Wickets }}</td><td>{{ bowler.Dots }}</td><td>{{ bowler.Fours }}</td><td>{{ bowler.Sixers }}</td><td>{{ bowler.WD }}</td><td>{{ bowler.NB }}</td><td>{{ bowler.Byes }}</td><td>{{ bowler.LB }}</td><td>{{ bowler.Econ }}</td><td>{{ bowler["DB%"] }}</td>
            </tr>
            {% endfor %}
          </table>
          <br>
        </div>

        <!-- 2nd Innings -->
        <div class="border rounded mt-2 mb-2" style="background-color: #ffffff;">
          <div style="background-color: #e3f2fd; margin: 0;">
            <p class="font-weight-bold p-1" style="margin-block: 0;">{{team2_name}}</p>
          </div>
          <table style="border-collapse: collapse;">
            <thead>
              <tr>
                <th>Batsman</th>
                <th>R</th>
                <th>B</th>
                <th>Dots</th>
                <th>4s</th>
                <th>6s</th>
                <th>SR</th>
                <th>NDSR</th>
                <th>DB%</th>
                <th>4s SR</th>
                <th>6s SR</th>
                <th>4&6 SR</th>
              </tr>
            </thead>
            <tbody>
              {% for record in batting2 %}
              <tr>
                <td class="text-dark">{{ record['Batsman'] }}</td>
                <td class="font-weight-bold">{{ record['Runs'] }}</td>
                <td>{{ record['Balls'] }}</td>
                <td>{{ record['Dots'] }}</td>
                <td>{{ record['Fours'] }}</td>
                <td>{{ record['Sixes'] }}</td>
                <td>{{ record['SR'] }}</td>
                <td>{{ record['NDSR'] }}</td>
                <td>{{ record['DB%'] }}</td>
                <td>{{ record['4s_SR'] }}</td>
                <td>{{ record['6s_SR'] }}</td>
                <td>{{ record['4&6_SR'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="border-top" style="display: flex; justify-content: space-around;">
            <p style="margin-block: 0;">Total - {{team2_score}} ({{innings2_overs}})</p>
          </div>

          <table style="border-collapse: collapse;">
            <tr>
              <th>Bowler</th>
              <th>Ov</th>
              <th>B</th>
              <th>R</th>
              <th>W</th>
              <th>Dots</th>
              <th>4s</th>
              <th>6s</th>
              <th>WD</th>
              <th>NB</th>
              <th>B</th>
              <th>LB</th>
              <th>Econ</th>
              <th>DB%</th>
            </tr>
            {% for bowler in bowling2 %}
              <tr>
                <td>{{ bowler.Bowler }}</td>
                <td>{{ bowler.Overs }}</td>
                <td>{{ bowler.Balls }}</td>
                <td>{{ bowler.Runs }}</td>
                <td>{{ bowler.Wickets }}</td>
                <td>{{ bowler.Dots }}</td>
                <td>{{ bowler.Fours }}</td>
                <td>{{ bowler.Sixers }}</td>
                <td>{{ bowler.WD }}</td>
                <td>{{ bowler.NB }}</td>
                <td>{{ bowler.Byes }}</td>
                <td>{{ bowler.LB }}</td>
                <td>{{ bowler.Econ }}</td>
                <td>{{ bowler["DB%"] }}</td>
              </tr>
            {% endfor %}
          </table>
          <br>
        </div>
        {% endif %}
      </div>
      
      <!-- Third Frame -->
      <div class="third-frame-stats-ads">
        {% if each_team_cumulative_score_per_over %}
          <div style="margin-bottom: 10px;">
            <img src="data:image/png;base64,{{ each_team_cumulative_score_per_over }}" alt="Cumulative Runs Graph" style="width: 100%; max-height: min-content;">
          </div>
        {% endif %}
        <div style="padding: 8px; width: 100%; height: 300px; border: 1px solid #edeef0;
              background-color: white; border-radius: 10px; margin-bottom: 5px; ">
          <p class="text-center" style="font-size: small;">Advertisement is going to displayed here</p>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- HTMX related script import -->
<script src="https://unpkg.com/htmx.org@1.9.2"></script>