<!DOCTYPE html>
<html lang="en">
{% set match_title = match_data_json["match"]["teams"][0]["team"]["abbreviation"] + " vs " +
match_data_json["match"]["teams"][1]["team"]["abbreviation"] + " " + match_data_json["match"]["title"] %}

<head>
  <title>
    {{ match_title }}, {{ match_data_json.match.daysInfo }}, {{ match_data_json.match.ground.name }}
  </title>
  <link rel="stylesheet" href="/static/styles_index.css">
  <link rel="icon" type="image/png" href="/static/favicon-t20-sense.png">
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-LWDCC125HK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-LWDCC125HK');
  </script> -->

  <script type="text/javascript" src="/static/script.js"></script>

  <!-- HTMX Import -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>

  <!-- Bootstrap Import -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Navigation Bar -->
  {% include "layout/navbar.html" %}

  <div class="container-fluid">
    <div class="row">
      <!-- 1st Frame -->
      <div class="col-lg-8 col-12 mb-3">
        <div class="p-2 my-1 border rounded text-wrap bg-light">
          <p class="my-0">
            <!-- Format: [Team 1 Name (Home Team)] vs [Team 2 Name (Away Team)] [Match Title] -->
            {{ match_title }},
            {{ match_data_json.match.daysInfo }},
            {{ match_data_json.match.ground.name }},
            <a class="link-dark my-1" href="/series/{{match_data_json.match.series.objectId}}">
              {{ match_data_json.match.series.longName }} {{ match_data_json.match.series.season }}
            </a>
          </p>

          <!-- Man of the match -->
          {% if match_data_json.content.matchPlayerAwards | length != 0 %}
          <p class="my-0 fw-bold">Man of the Match - {{ match_data_json.content.matchPlayerAwards[0].player.longName }}
          </p>
          {% endif %}
          <p class="my-0">
            {% for team_data in match_data_json.match.teams %}
            {% if team_data.team.id == match_data_json.match.tossWinnerTeamId %}
            <!-- Setting a Jinja2 Variable for the tossWinnerTeamId -->
            {{ team_data.team.longName }}, elected to
            {% if match_data_json.match.tossWinnerChoice == 1 %} bat {% else %} field {% endif %} first.
            <!-- TeamName elected to bat/field first -->
            {% endif %}
            {% endfor %}
          </p>

          <!-- Result <-> Status Text - Result at the end of the match, Target while 2nd inn, toss while 1st inn -->
          <p class="my-0 fw-bold">{{ match_data_json.match.statusText }}</p>
        </div>

        <div class="p-2 my-1 border rounded text-wrap bg-light">
          <div class="my-0">
            {% if match_data_json.match.teams[0].team.imageUrl is not none %}
            <img class="my-0 me-2 rounded d-inline-block" style="height: 40px; width: 40px;"
              src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_80/lsci{{ match_data_json.match.teams[0].team.imageUrl }}"
              alt="{{ match_data_json.match.teams[0].team.image.caption }}">
            {% endif %}
            <p class="my-0 fw-bold d-inline-block">{{ match_data_json.match.teams[0].team.longName }}</p>
            {% if match_data_json.match.teams[0].score is not none %}
            <p class="my-0 ms-2 fw-bold d-inline-block">{{ match_data_json.match.teams[0].score }}</p>
            {% endif %}
          </div>

          <div class="my-0">
            {% if match_data_json.match.teams[1].team.imageUrl is not none %}
            <img class=" my-0 me-2 rounded d-inline-block" style="height: 40px; width: 40px;"
              src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_80/lsci{{ match_data_json.match.teams[1].team.imageUrl }}"
              alt="{{ match_data_json.match.teams[1].team.image.caption }}">
            {% endif %}
            <p class="my-0 fw-bold d-inline-block">{{ match_data_json.match.teams[1].team.longName }}</p>
            <p class="my-0 ms-2 fw-bold d-inline-block">
              {% if match_data_json.match.teams[1].score %}
              {{ match_data_json.match.teams[1].score }}
              {% else %}-{% endif %}
            </p>
          </div>
        </div>

        <div class="my-1 p-2 border rounded bg-light">
          <p class="fw-bold my-1">Best Performances in Batting</p>
          {% if match_data_json.content.bestPerformance %}
          {% for batsman in match_data_json.content.bestPerformance.batsmen %}
          <p class="my-0">
            {{ batsman.teamAbbreviation }} - {{ batsman['player']['longName'] }} with {{ batsman['shot']}} shot
            scoring {{ batsman['shotRuns'] }} out of {{ batsman['runs'] }} runs
          </p>
          {% endfor %}
          {% else %}
          <p class="my-1">Yet to be decided</p>
          {% endif %}
          </p>
        </div>

        <div class="my-1 p-2 border rounded bg-light">
          <p class="fw-bold my-1">Best Performances in Bowling</p>
          {% if match_data_json.content.bestPerformance %}
          {% for bowler in match_data_json.content.bestPerformance.bowlers %}
          <p class="my-0">{{bowler.teamAbbreviation}} - {{bowler.player.longName}} -
            [{{bowler.overs}}-{{bowler.maidens}}-{{bowler.conceded}}-{{bowler.wickets}}] conceding {{bowler.dots}}
            dots and Econ. {{bowler.economy}}</p>
          {% endfor %}
          {% else %}
          <p class="my-1">Yet to be decided</p>
          {% endif %}
          </p>
        </div>

        <!-- 1st Innings -->
        <div class="accordion accordion-flush my-1 border rounded bg-light overflow-hidden">
          <div class="accordion-item">
            <p class="fw-bold accordion-header" id="inn1AccHeader">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#inn1_card"
                aria-expanded="true" aria-controls="inn1_card">
                <!-- Team 1 name -->
                {{ match_data_json.match.teams[0].team.longName }}
              </button>
            </p>
            <div id="inn1_card" class="accordion-collapse table-responsive show" aria-labelledby="inn1AccHeader">
              <table class="table table-sm mb-0">
                <thead>
                  <tr class="table-secondary">
                    <th class="px-2">Batsman</th>
                    <th>R</th>
                    <th>B</th>
                    <th>Dots</th>
                    <th>4s</th>
                    <th>6s</th>
                    <th>SR</th>
                    <th>NDSR</th>
                    <th>DB%</th>
                    <th>4s SR</th>
                    <th>6s SR</th>
                    <th>4&6 SR</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in batting1 %}
                  <tr>
                    <td class="px-2">{{ record['Batsman'] }}</td>
                    <td class="fw-bold">{{ record['Runs'] }}</td>
                    <td>{{ record['Balls'] }}</td>
                    <td>{{ record['Dots'] }}</td>
                    <td>{{ record['Fours'] }}</td>
                    <td>{{ record['Sixes'] }}</td>
                    <td>{{ record['SR'] }}</td>
                    <td>{{ record['NDSR'] }}</td>
                    <td>{{ record['DB%'] }}</td>
                    <td>{{ record['4s_SR'] }}</td>
                    <td>{{ record['6s_SR'] }}</td>
                    <td>{{ record['4&6_SR'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <p class="my-0 p-1"><strong>Did not bat - </strong> {% for p in dnb[0] %} {{ p.longName }}, {% endfor %}</p>
              <div class="d-flex justify-content-around">
                <p class="mb-0"> <strong>Total</strong> -
                  {% if match_data_json.match.teams[0].score is not none %} {{ match_data_json.match.teams[0].score }}
                  {% if match_data_json.match.teams[0].scoreInfo is none %} ({{ match_data_json.match.scheduledOvers }}
                  Ov) {% else %} {{ match_data_json.match.teams[0].scoreInfo }} {% endif %}
                  {% else %}
                  Yet to bat..
                  {% endif %}
                </p>
              </div>

              <table class="table table-sm mb-0">
                <tr class="table-secondary">
                  <th class="px-2">Bowler</th>
                  <th>Ov</th>
                  <th>B</th>
                  <th>R</th>
                  <th>W</th>
                  <th>Dots</th>
                  <th>4s</th>
                  <th>6s</th>
                  <th>WD</th>
                  <th>NB</th>
                  <th>B</th>
                  <th>LB</th>
                  <th>Econ</th>
                  <th>DB%</th>
                </tr>
                {% for bowler in bowling1 %}
                <tr>
                  <td class="px-2">{{ bowler.Bowler }}</td>
                  <td>{{ bowler.Overs }}</td>
                  <td>{{ bowler.Balls }}</td>
                  <td>{{ bowler.Runs }}</td>
                  <td>{{ bowler.Wickets }}</td>
                  <td>{{ bowler.Dots }}</td>
                  <td>{{ bowler.Fours }}</td>
                  <td>{{ bowler.Sixers }}</td>
                  <td>{{ bowler.WD }}</td>
                  <td>{{ bowler.NB }}</td>
                  <td>{{ bowler.Byes }}</td>
                  <td>{{ bowler.LB }}</td>
                  <td>{{ bowler.Econ }}</td>
                  <td>{{ bowler["DB%"] }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>

        <!-- 2nd Innings -->
        {% if match_data_json.match.teams[1].inningNumbers | length != 0 %}
        <div class="accordion accordion-flush my-1 border rounded bg-light overflow-hidden">
          <div class="accordion-item">
            <p class="fw-bold accordion-header" id="inn2AccHeader">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#inn2_card"
                aria-expanded="true" aria-controls="inn2_card">
                <!-- Team 1 name -->
                {{ match_data_json.match.teams[1].team.longName }}
              </button>
            </p>
            <div id="inn2_card" class="accordion-collapse table-responsive show" aria-labelledby="inn2AccHeader">
              <table class="table table-sm mb-0">
                <thead>
                  <tr class="table-secondary">
                    <th class="px-2">Batsman</th>
                    <th>R</th>
                    <th>B</th>
                    <th>Dots</th>
                    <th>4s</th>
                    <th>6s</th>
                    <th>SR</th>
                    <th>NDSR</th>
                    <th>DB%</th>
                    <th>4s SR</th>
                    <th>6s SR</th>
                    <th>4&6 SR</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in batting2 %}
                  <tr>
                    <td class="px-2">{{ record['Batsman'] }}</td>
                    <td class="fw-bold">{{ record['Runs'] }}</td>
                    <td>{{ record['Balls'] }}</td>
                    <td>{{ record['Dots'] }}</td>
                    <td>{{ record['Fours'] }}</td>
                    <td>{{ record['Sixes'] }}</td>
                    <td>{{ record['SR'] }}</td>
                    <td>{{ record['NDSR'] }}</td>
                    <td>{{ record['DB%'] }}</td>
                    <td>{{ record['4s_SR'] }}</td>
                    <td>{{ record['6s_SR'] }}</td>
                    <td>{{ record['4&6_SR'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <div>
                <p class="my-0 p-1"><strong>Did not bat - </strong> {% for p in dnb[1] %} {{ p.longName }}, {% endfor %}</p>
                <div class="my-0 d-flex justify-content-around">
                  {% set Team2ScoreTrgt = match_data_json.match.teams[1].scoreInfo.split(', T:') %}
                  {% set team2_score = match_data_json.match.teams[1].score %}
                  {% set inn2_ovs = Team2ScoreTrgt[0] %}
                  {% set target = Team2ScoreTrgt[1] %}
                  <p class="mb-0"><strong>Total</strong> - {{ team2_score }} ({{ inn2_ovs }})</p>
                  <p class="mb-0"><strong>Target</strong> - {{ target }}</p>
                </div>
              </div>

              <table class="table table-sm mb-0">
                <tr class="table-secondary">
                  <th class="px-2">Bowler</th>
                  <th>Ov</th>
                  <th>B</th>
                  <th>R</th>
                  <th>W</th>
                  <th>Dots</th>
                  <th>4s</th>
                  <th>6s</th>
                  <th>WD</th>
                  <th>NB</th>
                  <th>B</th>
                  <th>LB</th>
                  <th>Econ</th>
                  <th>DB%</th>
                </tr>
                {% for bowler in bowling2 %}
                <tr>
                  <td class="px-2">{{ bowler.Bowler }}</td>
                  <td>{{ bowler.Overs }}</td>
                  <td>{{ bowler.Balls }}</td>
                  <td>{{ bowler.Runs }}</td>
                  <td>{{ bowler.Wickets }}</td>
                  <td>{{ bowler.Dots }}</td>
                  <td>{{ bowler.Fours }}</td>
                  <td>{{ bowler.Sixers }}</td>
                  <td>{{ bowler.WD }}</td>
                  <td>{{ bowler.NB }}</td>
                  <td>{{ bowler.Byes }}</td>
                  <td>{{ bowler.LB }}</td>
                  <td>{{ bowler.Econ }}</td>
                  <td>{{ bowler["DB%"] }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Batting Impact Points -->
        <div class="accordion accordion-flush my-1 border rounded bg-light overflow-hidden">
          <div class="accordion-item">
            <p class="fw-bold accordion-header" id="batPtsHeader">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bat_imp_pts"
                aria-expanded="true" aria-controls="bat_imp_pts">
                Batting Impact points
              </button>
            </p>
            <div id="bat_imp_pts" class="accordion-collapse table-responsive show" aria-labelledby="batPtsHeader">
              <table class="table table-sm mb-0">
                <thead>
                  <tr class="table-secondary">
                    <th class="px-2">Name</th>
                    <th>Team</th>
                    <th>Runs</th>
                    <th>SR</th>
                    <th>Points</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in imp_pts %}
                  <tr>
                    <td class="px-2">{{ row['player name'] }}</td>
                    <td>{{ row.team }}</td>
                    <td>{{ row.runs }}</td>
                    <td>{{ row.SR }}</td>
                    <td>{{ row.impact_points }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Bowling Impact Points -->
        <div class="accordion accordion-flush my-1 border rounded bg-light overflow-hidden">
          <div class="accordion-item">
            <p class="fw-bold accordion-header" id="bowlPtsHeader">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bowl_imp_pts"
                aria-expanded="true" aria-controls="bowl_imp_pts">
                Bowling Impact points
              </button>
            </p>
            <div id="bowl_imp_pts" class="accordion-collapse table-responsive show" aria-labelledby="bowlPtsHeader">
              <div class="table-responsive">
                <table class="table table-sm mb-0">
                  <thead>
                    <tr class="table-secondary">
                      <th class="px-2">Name</th>
                      <th>Team</th>
                      <th>Balls</th>
                      <th>Wickets</th>
                      <th>Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in bow_imp_pts %}
                    <tr>
                      <td class="px-2">{{ row['player name'] }}</td>
                      <td>{{ row.team }}</td>
                      <td>{{ row.balls }}</td>
                      <td>{{ row.wickets }}</td>
                      <td>{{ row.impact_points }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Innings 1 Partnerships -->
        <div class="accordion accordion-flush my-1 border rounded bg-light overflow-hidden">
          <div class="accordion-item">
            <p class="fw-bold accordion-header" id="ptnr_df1_head">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ptnr_df1"
                aria-expanded="true" aria-controls="ptnr_df1">
                Partnerships - Innings 1
              </button>
            </p>
            <div id="ptnr_df1" class="accordion-collapse table-responsive show" aria-labelledby="ptnr_df1_head">
              <div class="table-responsive">
                <table class="table table-sm mb-0">
                  <thead>
                    <tr class="table-secondary">
                      <th class="px-2">Wicket No</th>
                      <th>Player 1</th>
                      <th>Player 2</th>
                      <th class="fw-bold text-center">Partnership</th>
                      <th>Player out</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in ptnr_df1 %}
                    <tr>
                      <td class="px-2">{{ row.Wicket }}</td>
                      <td>{{ row.Player_1 }}</td>
                      <td>{{ row.Player_2 }}</td>
                      <td class="fw-bold text-center">{{ row.Partnership }}</td>
                      <td>{{ row.player_out }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Innings 2 Partnerships -->
        <div class="accordion accordion-flush my-1 border rounded bg-light overflow-hidden">
          <div class="accordion-item">
            <p class="fw-bold accordion-header" id="ptnr_df2_head">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ptnr_df2"
                aria-expanded="true" aria-controls="ptnr_df2">
                Partnerships - Innings 2
              </button>
            </p>
            <div id="ptnr_df2" class="accordion-collapse table-responsive show" aria-labelledby="ptnr_df2_head">
              <table class="table table-sm mb-0">
                <thead>
                  <tr class="table-secondary">
                    <th class="px-2">Wicket No</th>
                    <th>Player 1</th>
                    <th>Player 2</th>
                    <th class="fw-bold text-center">Partnership</th>
                    <th>Player out</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in ptnr_df2 %}
                  <tr>
                    <td class="px-2">{{ row.Wicket }}</td>
                    <td>{{ row.Player_1 }}</td>
                    <td>{{ row.Player_2 }}</td>
                    <td class="fw-bold text-center">{{ row.Partnership }}</td>
                    <td>{{ row.player_out }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- <div id="ptnrsh_figs">
              <img src="data:image/png;base64,{{ ptnr_f1 }}" alt="Innings 1 Partnerships Runs">
          </div> -->
      </div>

      <!-- Third Frame -->
      <div class="col-lg-4 col-12 mb-3">
        {% if each_team_cumulative_score_per_over %}
        <div class="border rounded mb-2 overflow-hidden">
          <img src="data:image/png;base64,{{ each_team_cumulative_score_per_over }}" alt="Cumulative Runs Graph"
            style="width: 100%; max-height: min-content;">
        </div>
        {% endif %}
        

        {% for index in range(each_inns_graphs | length) %}
          <div class="border rounded mb-2 overflow-hidden">
            <img src="data:image/png;base64,{{ each_inns_graphs[index] }}" alt="Innings {{ index + 1 }} Overs-Runs"
              style="width: 100%; max-height: min-content;">
          </div>
        {% endfor %}

        <!-- Distribution of Runs Graph (Dots, 1s, 2s, 3s, 4s, 6s) -->
        <h5 class="fs-5 fw-bold text-center border-top">Distribution of Runs</h5>
        {% for index in range(runs_div_graphs | length) %}
          {% if match_data_json.match.teams[index].score is not none %}
          <iframe class="rounded" srcdoc="{{ runs_div_graphs[index] }}" width="100%" height="380px" frameborder="0"
            scrolling="no"></iframe>
          <p class="fs-6 mb-0 text-center">{{ match_data_json.match.teams[0].team.longName }}</p>
          {% endif %}
        {% endfor %}

        <!-- <div class="border rounded p-2 mb-2" style="width: 100%; height: 300px; background-color: white;">
            <p class="text-center" style="font-size: small;">Advertisement is going to displayed here</p>
          </div> -->

        <!-- Teams Squad -->
        <div class="my-1">
          <table class="table table-striped border">
            <thead>
              <tr>
                <th class="fw-bold text-center" colspan="2">Team Squads</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>{{ match_data_json.match.teams[0].team.longName }}</strong></td>
                <td><strong>{{ match_data_json.match.teams[1].team.longName }}</strong></td>
              </tr>
              {% if match_data_json.content.matchPlayers.teamPlayers %}
              {% set team1_list = match_data_json.content.matchPlayers.teamPlayers[0].players %}
              {% set team2_list = match_data_json.content.matchPlayers.teamPlayers[1].players %}
              {% for player in range(team1_list | length) %}
              <tr>
                <td>
                  {{ team1_list[player].player.longName }}
                  {% if team1_list[player].playerRoleType != "P" %} ({{ team1_list[player].playerRoleType }}){% endif %}
                </td>
                <td>
                  {% if team2_list[player] %}
                  {{ team2_list[player].player.longName }}
                  {% if team2_list[player].playerRoleType != "P" %} ({{ team2_list[player].playerRoleType }}){% endif %}
                  {% else %}-{% endif %} 
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {% include "layout/footer.html" %}
</body>

</html>