<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/static/favicon-t20-sense.png">
  <title>Series Page</title>

  <!-- HTMX Import -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>

  <!-- Bootstrap Import -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="script.js"></script>
</head>
<body>
  {% include "layout/navbar.html" %}
  <div class="container">
    <p class="fs-1">{{ ser_data.series.longName }} {{ser_data.series.year}}</p>
    <div class="container mt-2">
      <!-- All matches links in the series div -->
      <div class="container">
        <div class="row" id="matchesInSeriesLinks">
          {% for match in ser_data.content.matches %}
          <div class="col-md-3 mb-2">
            <div class="card">
                <a class="link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover" href="/scorecards/{{ match.series.objectId }}/{{ match.objectId }}">
                  <div class="card-body">
                    <p>{{ match.title }}</p>
                    <div class="row">
                      <div class="mb-1">
                        <img class="border rounded-circle h-auto w-25 d-inline-block" src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_80/lsci{{ match.teams[0].team.imageUrl }}" alt="{{ match.teams[0].team.image.caption }}">
                        <p class="d-inline-block p-1">{{ match.teams[0].team.longName }}</p>
                      </div>
                      <div class="mt-1">
                        <img class="d-inline-block border rounded-circle h-auto w-25" src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_80/lsci{{ match.teams[1].team.imageUrl }}" alt="{{ match.teams[1].team.image.caption }}">
                        <p class="d-inline-block p-1">{{ match.teams[1].team.longName }}</p>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include "layout/footer.html" %}
</body>
</html>